.tableHeader {
  background-color: tomato;
}

.meal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

label {
  width: 100%;
}

input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 16px;
  padding-left: 1rem;
}
input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

button[type="submit"] {
  border-radius: 8px;
  border: 1px solid #ccc;
}
